* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
  }
  
  body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #blocPrincipal {  /*Menu + tout les .ecran */
    width: 100%;
    max-width: 2000px;
  }
  
  .ecran {    /*Contient les différentes parties */
    height: 92vh;
    width: 100%;
    margin: 0;
    padding:0;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
  }
  
  section {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  

  /* ecran 1 */
  .ecran1 {
    width: 100%;
    display: flex;
  }
  
  /* ecran 2 */
  .ecran2 {
    width: 100%;
    background-color: rgb(247, 222, 190);/*#d2c7c5*/ /*#c5bab8*/

  }

  .ecran2 h1{
    text-align: center;
    color: #A0522D;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 40px;
    padding-top: 3%;
    margin-bottom: 10%;
  }

  .item1 { grid-area: header; }
  .item2 { grid-area: menu; }
  .item3 { grid-area: main; }

  .grid-container {
    display: grid;
    grid-template-areas:
      'header header menu menu main main'
      'header header menu menu main main'
      'header header menu menu main main';
    gap: 200px;
    padding: 10px;
  }
  
  .grid-container > div {
    padding: 20px 0;
    font-size: 30px;
  }

  .lang_info{
    display: inline-block;
  }

  .lang_info h2{
    font-size: 30px;
    margin-bottom: 80px;
    font-weight: bolder;
    color:#b33c00;
    text-decoration: underline;
  }

  .lang_info li{
    font-size: 22px;
    margin: 22px;
    list-style-type:circle;
    color: #A0522D;
  }

  .outil_info{
    display: inline-block;
  }

  .outil_info h2{
    font-size: 30px;
    margin-bottom: 80px;
    font-weight: bolder;
    color:#b33c00;
    text-decoration: underline;
  }

  .outil_info li{
    font-size: 22px;
    margin: 22px;
    list-style-type:circle;
    color: #A0522D;
  }

  .atout{
    display: inline-block;
  }

  .atout h2{
    font-size: 30px;
    margin-bottom: 40px;
    font-weight: bolder;
    color:#b33c00;
    text-decoration: underline;
  }

  .atout li{
    font-size: 22px;
    margin: 22px;
    list-style-type:circle;
    color: #A0522D;
  }

  /* ecran 3*/
  .ecran3 {
    width: 100%;
    background-color: 	#DEB887;
  }
  
  /* ecran 4*/
  .ecran4 {
    width: 100%;
  }
  
  /* ecran 5*/
  .ecran5 {
    width: 100%;
  }
  
  /* ecran 6*/
  .ecran6 {
    width: 100%;
  }
  

  nav{  /*Menu de redirection*/
    background-color: lightblue;
    width: 100%;
    height: 8vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    position: fixed;
    z-index: 1;
  }

  a{
    color:#753434;
    font-weight: bold;
}

ul{  /*Menu */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

li{ /*Sections du menu */
    list-style-type: none;
}

#intro{  /*Paragrahpe d'introduction dans #acceuil*/
    position: absolute;
    display: flex;
    font-weight: bold;
    text-align:center;
    line-height: 24pt;
    color: whitesmoke;
}

#fond_ecran{ /*image du fond de la partie #accueil*/
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

h1{  /*Titres des parties */
  align-self: center;
}

.contain-tout{
  width: 80%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  }
  .form-container{
  width: 50%;
  height: 100%;
  }
  #contact-form{
  width: 100%;
  height: 100%;
  padding: 50px 50px;
  }
  